/*页面顶部导航list修饰*/
body{
	background: #F5F5F5;
}
#navigat{
	background: #C20C0C;
	border-bottom: 1px solid #a40011;
}
#navigat .navigat-top{
	width: 1100px;
	height: 34px;
	margin: 0 auto;
}
#navigat .navigat-top ul.nav{
	float: left;
	margin-left: 180px;
}
#navigat .navigat-top ul.nav li{
	float: left;
	height: 34px;
	text-align: center;
}
#navigat .navigat-top ul.nav li>a>em{
	display: inline-block;
	padding: 0 13px;
	margin: 7px 17px 0;
	height: 20px;
	line-height: 21px;
	border-radius: 20px;
	color: #fff;
}
#navigat .navigat-top ul.nav li>a.z-alt>em,#navigat .navigat-top ul.nav li>a:hover>em{
	background: #9B0909;
}
/*轮播菜单修饰*/
#banner{
	background: url(../img/index/d1.jpg) repeat-x;
}
#banner .wrap{
	width: 982px;
	height: 336px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
#banner .wrap .ban{
	position: absolute;
	width: 7300px;
	height: 336px;
}
#banner .wrap .ban a img{
	display: block;
	float: left;
}
#banner .wrap .f-alpha{
	background: url(../img/index/banner.png) no-repeat 0 -9999px;
}
/*左右切换修饰*/
#banner .wrap .click-btn a{
	text-indent: -9999px;
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -31px;
	width: 31px;
	height: 63px;
}
#banner .wrap .click-btn a.btnr{
	right: -68px;
	background-position: 0 -508px;
}
#banner .wrap .click-btn a.btnr:hover{
	background-position: 0 -578px;
}
#banner .wrap .click-btn a.btnl{
	left: -68px;
	background-position: 0 -360px;
}
#banner .wrap .click-btn a.btnl:hover{
	background-position: 0 -430px;
}
/*图片下方小圆点修饰*/
#banner .wrap .dots{
	position: absolute;
	top: 310px;
	left: 0;
	width: 730px;
	text-align: center;
}
#banner .wrap .dots span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: 3px -343px;
	cursor: pointer;	
}
#banner .wrap .dots span.on,#banner .wrap .dots span:hover{
	background-position: -16px -343px;	
}
#banner .wrap .download{
	position: absolute;
	width: 254px;
	height: 336px;
	right: -1px;
	z-index: 20;
	top: 0;
	background: url(../img/index/download.png) no-repeat 0 0;
}
#side-download{
	display: block;
    width: 215px;
    height: 56px;
    margin: 212px 0 0 19px;
    background: url(../img/index/download.png) no-repeat 0 9999px;
    text-indent: -9999px;
}
#side-download:hover{
	background-position: 0 -340px;
}
#banner .wrap .download p{
	margin: 10px auto;
	text-align: center;
	color: #8d8d8d;
}
#banner .wrap .download span{
	display: block;
	position: absolute;
	top: 0;
	left: -20px;
	width: 20px;
	height: 336px;
	background-position: -1px 0;
}
#banner .wrap .download span.shadowr{
	left: auto;
	right: -20px;
	background-position: -20px 0;	
}
#discover-module{
	width: 980px;
	min-height: 700px;
	margin: 0 auto;
	border: 1px solid #d3d3d3;
	border-width: 0 1px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	background: #FFFFFF;
/*	background: url;*/
}
#discover-module .gmn-left{
	width: 728px;
	height: 100%;
	box-sizing: border-box;
	padding: 20px 20px 40px;
	border-right: 1px solid #D3D3D3;
}
#discover-module .gmn-right{
	width: 250px;
	height: 100%;
}
#discover-module .title, .s-bg,.disk li{
	background: url(../img/index/index.png) no-repeat 0 -9999px;
}
#discover-module .gmn-left .title{
	padding: 0 10px 0 34px;
	height: 33px;
	border-bottom: 2px solid red;
	background-position: -225px -156px;
}
#discover-module .gmn-left .title>a.tit{
	float: left;
	font-size: 20px;
	font-weight: normal;
}
 .gmn-left .hot-recomm .title>ul{
	display: inline-block;
	margin-left: 5px;
}
#discover-module .gmn-left .hot-recomm .title>ul>li{
	float: left;
	margin: 7px 0 0 15px;
}
 .gmn-left .hot-recomm .title>ul>li>a{
	color: #666;
}
 .gmn-left .hot-recomm .title>ul>li>span{
	color: #ccc;
	display: inline-block;
	margin-top: 2px;
}
 .gmn-left .title span.more{
	float: right;
	display: inline-block;
	margin-top: 8px;
}
 .gmn-left .title span.more a{
	color: #666;
}
 .gmn-left .title span.more i{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 4px;
	vertical-align: middle;
}
 .s-bg{
	background-position: 0 -240px;
}
 .gmn-left .recomm-list>ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
 .gmn-left .recomm-list>ul>li{
	display: inline-block;
	padding: 0 0 20px 0;
	margin-bottom: 50px;
	margin-top: 20px;
}
.u-cover .bottom,.u-cover .msk{
	background: url(../img/index/coverall.png) no-repeat 0 -9999px;
}
 .u-cover{
	width: 140px;
	height: 140px;
	position: relative;
}
.u-cover .msk{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}
 .u-cover .bottom{
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 27px;
	background-position: 0 -537px;
	color: #ccc;
}
 .gmn-left .dec{
	margin: 8px 0 3px;
	width: 100%;
}
 .gmn-left .dec a.tit{
	color: #000;
	font-size: 14px;
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
	line-height: 1.4;
}
 .u-cover .icon-play, .u-cover .icon-headset{
	background: url(../img/index/iconall.png) no-repeat 0 -9999px;
}
 .u-cover .icon-play{
	position: absolute;
	right: 10px;
	bottom: 5px;
	width: 16px;
	height: 17px;
	background-position: 0 0;
}
.u-cover .icon-play:hover{
	background-position: 0 -60px;
}
 .u-cover .icon-headset{
	display: inline-block;
	float: left;
	width: 14px;
	height: 11px;
	margin: 9px 5px 9px 10px;
	background-position: 0 -24px;
}
  .u-cover .nb{
	display: inline-block;
	margin-top: 6px;
}
 .gmn-left .dec .tit:hover, .gmn-left .title ul a:hover{
	text-decoration: underline;
}
.personal ul{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.personal ul>li{
	width: 140px;
	height: 140px;
}
.personal ul p.idv{
	margin-top: 3px;
	width: 100%;
	color: #999;
}
.personal ul p>a.btn{
	display: none;
	width: 63px;
	height: 26px;
	margin-top: 10;
	text-align: center;
	line-height: 26px;
}
#discover-module .s-bg-13{
	background-position: 0 -130px;
	color: #666;
}
.personal ul p:hover>em{
	display: none;
}
.personal ul p:hover>a.btn{
	display: block;
	transition: ;
}
.u-date,.u-date .mask{
	background: url(../img/index/date.png) no-repeat 0 -9999px;
}
.personal .u-date{
	position: relative;
	zoom: 1;
	display: block;
	width: 140px;
	height: 140px;
	background-position: 0 0;
}
.personal .u-date .head{
	display: block;
	height: 33px;
	line-height: 33px;
	color: #fed9d9;
	font-size:14px;
	text-shadow: 0 -1px #962626;
	text-align: center;
}
.personal .u-date .bd{
	display: block;
    line-height: 102px;
    text-align: center;
    font-size: 94px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #202020;
}
.personal .u-date .mask{
	position: absolute;
	top: 33px;
	left: 0;
	width: 142px;
	height: 107px;
	background-position: 0 -150px;
}
.advertise .adv-img{
	margin-top: 130px;
	margin-bottom: 33px;
	position: relative;
}
.advertise em{
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 18px;
	bottom: 3px;
	right: -1px;
	overflow: hidden;
	line-height: 99px;
	background: url(../img/index/short.png) no-repeat scroll right top;
}
.disk{
	position: relative;
	zoom: 1;
	height: 186px;
	margin: 20px 0 37px;
	border: 1px solid #d3d3d3;
	overflow: hidden;
}
.disk .inner{
	height: 184px;
	padding-left: 16px;
	background: #f5f5f5;
	border: 1px solid #fff;
}
.disk .pre,.disk .nxt{
	position: absolute;
	top: 71px;
	width: 17px;
	height: 17px;
}
.disk .pre{
	left: 7px;
}
.disk .nxt{
	right: 7px;
}
.s-bg-7{
	background-position: -260px -75px;
}
.s-bg-7:hover{
	background-position: -280px -75px;
}
.s-bg-8{
	background-position: -300px -75px;
}
.s-bg-8:hover{
	background-position: -320px -75px;
}
.disk .roll{
	position: absolute;
	float: left;
	width: 2640px;
	height: 180px;
	left: -645px;
}
.disk ul{
	float: left;
	top: 0;
	width: 645px;
	margin-top: 28px;
	margin-right: 15px;
}
.f-cb:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.disk li{
	float: left;
	display: inline-block;
	width: 118px;
	height: 150px;
	margin-left: 11px;
	background-position: -260px 100px;
}
.disk .u-cover{
	margin-bottom: 7px;
}
.u-cover-alb1 {
    width: 100px;
    height: 100px;
}
.u-cover{
	position: relative;
	display: block;
}
/*.u-cover img {
    width: 100px;
    height: 100px;
    display: block;
}*/
.u-cover-alb1 .msk {
    width: 118px;
    height: 100px;
    background-position: 0 -570px;
}
.u-cover .icon-play{
	position: absolute;
	right: 10px;
	bottom: 5px;
	width: 16px;
	height: 17px;
	background-position:  0 0;
}
.u-cover-alb1 .icon-play, .u-cover-alb2 .icon-play, .u-cover-alb3 .icon-play{
	display: none;
}
.u-cover-0 .icon-play, .u-cover-alb1 .icon-play, .u-cover-10 .icon-play, .u-cover-11 .icon-play, .u-cover-12 .icon-play{
	left: 72px;
    width: 22px;
    height: 22px;
    background-position: 0 -85px;
}
.disk p{
	width: 90%;
	line-height: 18px;
}
.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
    word-wrap: normal;
}
.s-fc0, a.s-fc0:hover{
	color:#000;
}
.s-fc3, a.s-fc3:hover {
    color: #666;
}
.blist{
	height: 472px;
	margin-top: 20px;
	padding-left: 1px;
}
.blist{
	background: url(../img/index/index_bill.png) no-repeat;
}
.blist .blk{
	float: left;
	width: 228px;
}
.blist .blk-1{
	width: 227px;
}
.blist .top{
	height: 100px;
	padding: 20px 0 0 19px;
}
.blist .cver{
	float: left;
	display: inline;
}
.u-cover-4{
	width: 80px;
	height: 80px;
}
.u-cover img{
	display: block;
	width: 100%;
	height: 100%;
}
.blist .u-cover .msk{
	background-position: -145px -57px;
}
.blist .tit{
	float: left;
	width: 114px;
	margin: 6px 0 0 10px;
}
.blist .tit h3{
	width: 100%;
}
.blist .btn{
	margin-top: 10px;
}
.blist .btn a{
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 10px;
	text-indent: -9999px;
}
.s-bg-9{
	background-position: -267px -205px;
}
.s-bg-9:hover{
	background-position: -267px -235px;
}
.s-bg-10{
	background-position: -300px -205px;
}
.s-bg-10:hover{
	background-position: -300px -235px;
}
.blist ul{
	height: 319px;
	line-height: 32px;
}
.blist ul li{
	height: 32px;
	vertical-align: middle;
}
.blist ul .no{
	float: left;
	position: relative;
	width: 35px;
	height: 32px;
	margin-left: 15px;
	text-align: center;
	color: #666;
	font-size: 16px;
}
.blist ul .no-top{
	color: #c10d0c;
}
.blist ul .nm{
	float: left;
	width: 170px;
	height: 32px;
}
.blist .oper{
	display: none;
	float: left;
	width: 82px;
	margin-top: 7px;
}
.blist .oper a{
	float: left;
	width: 17px;
	height: 17px;
	margin-right: 10px;
}
.s-bg-11{
	background-position: -267px -268px;
}
.s-bg-11:hover{
	background-position: -267px -288px;
}
.s-bg-12{
	background-position: -297px -268px;
}
.s-bg-12:hover{
	background-position: -297px -288px;
}
.u-icn, .u-icn2, .u-icn3{
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}
.u-icn, .u-title-1 .out .icon {
    background: url(../img/index/icon.png) no-repeat 0 9999px;
}
.blist .oper .u-icn-81{
	margin: 2px 6px 0 0;
	background-position: 0 -700px;
}
.blist .oper .u-icn-81:hover{
	background-position: -22px -700px;
}
.blist .more{
	clear: both;
	height: 32px;
	margin-right: 30px;
	text-align: right;
	line-height: 32px;
}
.blist a:hover{
	text-decoration: underline;
}
.n-myinfo{
	height: 165px;
	padding-top: 20px;
}
.n-myinfo-1{
	height: 126px;
	padding-top: 0;
}
.s-bg-1{
	background-position: 0 0;
}
.n-myinfo .note{
	width: 205px;
	margin: 0 auto;
	padding: 16px 0;
	line-height: 22px;
}
.s-bg-2{
	background-position: 0 -195px;
}
.s-bg-2:hover{
	background-position: -110px -195px;
}
.n-myinfo .btn{
	display: block;
	width: 100px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 0 #8a060b;
}
.n-myinfo-1 .btn{
	margin: 0 auto;
}
.n-singer{
	margin-top: 15px;
}
.v-hd3{
	position: relative;
	height: 23px;
	margin: 0 20px;
	border-bottom: 1px solid #ccc;
	color: #333;
}
.f-f1{
	float: left;
}
.v-hd3 .more{
	float: right;
	font-weight: normal;
}
.n-enter{
	margin: 6px 0 14px 20px;
}
.n-enter li,.n-enter .itm{
	float: left;
	width: 210px;
	height: 62px;
	background: #fafafa;
}
.n-enter li{
	margin-top: 14px;
}
.n-enter .head,.n-enter .head img{
	float: left;
	width: 62px;
	height: 62px;
}
.n-enter .ifo{
	float: left;
	width: 133px;
	height: 60px;
	padding-left: 14px;
	border: 1px solid #e9e9e9;
	border-left: none;
}
.n-enter .ifo:hover{
	background: #f4f4f4;
}
.f-fs1{
	font-size: 14px;
}
.n-enter h4{
	margin-top: 8px;
}
.n-enter .nm{
	width: 90%;
}
.n-enter p{
	width: 90%;
	margin-top: 8px;
}
.n-singer .u-btn2{
	margin-left: 20px;
	border-radius: 4px;
}
.u-btn2,.u-btn2 i,.u-btn2 .icn,.u-btni,.u-btni i,.u-tag,.u-tag i,.u-btni-addply .ply{
	background: url(../img/index/button2.png) no-repeat 0 9999px;
}
.u-btn2-1{
	color: #333;
	background-position: right -100px;
}
.u-btn2{
	padding: 0 5px 0 0;
	white-space: nowrap;
}
.u-btn2 i,.u-btn2{
	display: inline-block;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
}
.u-btn2 i{
	padding: 0 15px 0 20px;
	pointer-events: none;
}
.u-btn2-1 i{
	color: #333;
	background-position: 0 -59px;
}
.n-singer .u-btn2 i{
	font-weight: bold;
	width: 170px;
}
.n-dj-1{
	margin-top: 30px;
}
.n-hotdj{
	margin: 20px 0 0 20px;
}
.n-hotdj li{
	float: left;
	width: 210px;
	height: 50px;
}
.n-hotdj .cver{
	float: left;
	margin-right: 10px;
	width: 40px;
}
.n-hotdj .cver img{
	width: 40px;
	height: 40px;
	box-shadow: 0 0 1px #333 inset;
}
.n-hotdj .info{
	float: left;
	width: 160px;
	line-height: 21px;
}
.n-hotdj p{
	width: 100%;
}
.n-hotdj .nm-icn{
	max-width: 88%;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}
.u-icn-1{
	width: 11px;
	height: 13px;
	background-position:  0 1px;
	font-size: 100%;
	font-weight: normal;
}
.n-hotdj .info .u-icn{
	margin-top:-1px ;
}
.s-bg-5{
	background-position: 0 -270px;
}
.n-myinfo .head{
	float: left;
	width: 80px;
	height: 80px;
	margin-left: 20px;
	padding: 2px;
	border: 1px solid #dadada;
	background: #fff;
}
.n-myinfo .head img{
	display: block;
	width: 80px;
	height: 80px;
}
.n-myinfo .info{
	float:left;
	width: 115px;
	margin-left: 18px;
	padding-top: 3px;
}
.n-myinfo .info .nm-icn{
	width: auto;
	max-width: 100%;
	vertical-align: middle;
}
.n-myinfo .info p{
	width: 100%;
	margin-top: 5px;
}
.u-icn2 {
	background: url(../img/index/icon2.png) no-repeat 0 9999px;
}
.u-lv{
	display: inline-block;
	height: 17px;
	overflow: hidden;
	padding-left: 25px;
	line-height: 18px;
	color: #999;
	font-weight: bold;
	font-style: italic;
}
.u-icn2-lv{
	background-position: -130px -64px;
}
.u-icn2-lvright{
	margin-left: -3px;
	width: 8px;
	height: 17px;
	background-position: -192px -64px;
}
.u-lv i{
	float: right;
}
.n-myinfo .info .btnwrap{
	margin-top: 15px;
}
.f-pr{
	position: relative;
	zoom: 1;
}
.u-btn2-2{
	color: #fff;
	background-position: right -428px; 
}
.u-btn2-2 i{
	color: #fff;
	background-position: 0 -387px; 
}
.u-btn2 i{
	padding: 0 15px 0 20px;
	pointer-events: none;
}
.n-myinfo .info .btnwrap .sign i{
	width: 60px;
}
.n-myinfo .dny{
	margin: 22px 0 0 20px;
}
.n-myinfo .dny li{
	float: left;
	height: 40px;
	padding: 0 18px;
	border-right: 1px solid #e4e4e4;
}
.n-myinfo .dny li.fst{
	padding-left: 0px;
}
.n-myinfo .dny li.lst{
	border-right: none;
	padding-right: 0;
}
.n-myinfo .dny a{
	display: block;
	color: #666;
}
.n-myinfo .dny strong{
	display: block;
	font-size: 20px;
	font-weight: normal;
}
.n-myinfo .dny span{
	margin-left: 2px;
}
.on{
	display: none;
}
/*播放器*/
.g-btmbar{
	position: fixed;
	zoom: 1;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	width: 100%;
	z-index: 10000;
}
.f-fl{
	float: left;
}
.m-playbar{
	position: absolute;
	zoom: 1;
	top: -53px;
	left: 0;
	width: 100%;
	height: 53px;
	margin: 0 auto;
}
.m-playbar .updn .left, .m-playbar .updn .right, .m-playbar .updn .btn, .m-playbar .bg, .m-playbar .btns a, .m-playbar .hend .mask, .m-playbar .icn, .m-playbar .ctrl, .m-playbar .tip, .m-vol .curr, .m-playbar .words .mv, .m-vol .barbg, .m-playbar .words .src{
	background: url(../img/index/playbar.png) no-repeat 0 -9999px;
}
.m-playbar .updn{
	position: relative;
	z-index: 11;
}
.m-playbar .updn .left{
	position: absolute;
	top: -14px;
	right: 15px;
	width: 52px;
	height: 67px;
	background-position: 0 -380px;
}
.m-playbar .updn .btn{
	display: block;
	height: 18px;
	width: 18px;
	margin: 6px 0 0 17px;
}
.m-playbar-lock .updn .btn{
	background-position: -100px -380px;
}
.m-playbar-lock .updn .btn:hover{
	background-position-y: -400px;
}
.m-playbar .updn .right{
	position: absolute;
	top: -1px;
	right: 0;
	width: 15px;
	height: 54px;
	background-position: -52px -393px;
    pointer-events: none;
}
.m-playbar .bg{
	height: 53px;
	zoom: 1;
	margin-right: 67px;
	background-position: 0 0;
	background-repeat: repeat-x;
}
.m-playbar .hand{
	position: absolute;
	top: -10px;
	width: 100%;
	height: 20px;
	cursor: pointer;
}
.m-playbar .wrap{
	position: absolute;
	left: 50%;
	top: 6px;
	z-index: 15;
	width: 980px;
	height: 47px;
	margin: 0 auto;
	margin-left: -498px;
}
.m-playbar .btns, .m-playbar .hend, .m-playbar .f-fl,.m-playbar .play, .m-playbar .volum, .m-playbar .oper{
	float: left;
}
.m-playbar .btns{
	width: 137px;
	padding: 6px 0 0 0;
}
.m-playbar .btns a{
	display: block;
	float: left;
	width: 28px;
	height: 28px;
	margin-right: 8px;
	margin-top: 5px;
	text-indent: -9999px;
}
.m-playbar .btns .prv{
	background-position: 0 -130px;
}
.m-playbar .btns .prv:hover{
	background-position: -30px -130px;
}
.m-playbar .btns .ply{
	width: 36px;
	height: 36px;
	margin-top: 0;
	background-position: 0 -204px;
}
.m-playbar .btns .ply:hover{
	background-position: -40px -204px;
}
.m-playbar .btns .nxt{
	background-position: -80px -130px;
}
.m-playbar .btns .nxt:hover{
	background-position: -110px -130px;
}
.m-playbar .hend, .m-playbar .head img{
	position: relative;
	margin: 6px 15px 0 0;
}
.m-playbar .hend{
	width: 34px;
	height: 34px;
}
.m-playbar .hend .mask{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 34px;
	height: 35px;
	background-position: 0 -80px;
}
.m-playbar .play{
	position: relative;
	width: 608px;
}
.m-playbar .words{
	height: 28px;
	overflow: hidden;
	color: #e8e8e8;
	text-shadow: 0 1px 0 #171717;
	line-height: 28px;
}
.m-playbar .words .fc1{
	color: #E8E8E8;
}
.m-playbar .words .name{
	max-width: 300px;
}
.m-playbar .words .by{
	max-width: 220px;
	margin-left: 15px;
	color: #9b9b9b;
}
.m-playbar .words .by a{
	color: #9b9b9b;
}
.m-playbar .words .src {
    float: left;
    width: 14px;
    height: 15px;
    margin: 7px 0 0 13px;
    background-position: -110px -103px;
}
.m-playbar .words .src:hover{
	background-position: -130px -103px;
}
.m-pbar .barbg, .m-pbar .cur, .m-pbar .rdy, .m-pbar .left{
	background: url(../img/index/statbar.png) no-repeat 0 9999px;
}
.m-pbar{
	position: relative;
}
.m-pbar, .m-pbar .barbg{
	width: 493px;
}
.m-pbar .barbg, .m-pbar .cur, .m-pbar .rdy{
	height: 9px;
	background-position: right 0; 
}
.m-pbar .rdy{
	background-position: right -30px;
}
.m-pbar .cur{
	position: absolute;
	top: 0;
	left: 0;
	width: 1%;
	background-position: left -66px;
}
.m-pbar .btn, .m-vol .btn{
	background: url(../img/index/iconall.png) no-repeat;
}
.m-pbar .btn{
	position: absolute;
	top: -7px;
	right: -13px;
	width: 22px;
	height: 24px;
	margin-left: -11px;
	background-position: 0 -250px;
}
.m-pbar .time{
	position: absolute;
	top: -3px;
	right: -84px;
	color: #797979;
	text-shadow: 0 1px 0 #121212;
}
em,i{
	font-style: normal;
	text-align: left;
	font-size: inherit;
}
.m-pbar .time em{
	color: #a1a1a1;
}
.m-playbar .oper{
	width: 60px;
}
.m-playbar .icn{
	float: left;
	width: 25px;
	height: 25px;
	margin: 11px 2px 0 0;
	text-indent: -9999px;
}
.m-playbar .icn-add{
	background-position: -88px -163px;
}
.m-playbar .icn-add:hover{
	background-position: -88px -189px;
}
.m-playbar .icn-share{
	background-position: -114px -163px;
}
.m-playbar .icn-share:hover{
	background-position: -114px -189px;
}
.m-playbar .ctrl{
	position: relative;
	z-index: 10;
	width: 113px;
	padding-left: 13px;
	background-position: -147px -238px;
}
.m-vol{
	position: absolute;
	top: -113px;
	left: 9px;
	clear: both;
	width: 32px;
	height: 113px;
}
.m-vol .barbg{
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 113px;
	background-position: 0 -503px;
}
.m-vol .vbg,.m-vol .curr{
	position: absolute;
	top: 11px;
	left: 14px;
	width: 4px;
	height: 93px;
}
.m-vol .vbg{
	padding: 4px 0;
	top: 7px;
}
.m-vol .curr {
    top: auto;
    bottom: 4px;
    left: 0;
    background-position: -40px bottom;
    overflow: hidden;
}
.m-vol .btn {
    position: absolute;
    top: 0;
    left: -7px;
    display: block;
    width: 18px;
    height: 20px;
    background-position: -40px -250px;
    cursor: pointer;
}
.m-playbar .icn-vol{
	background-position: -2px -248px;
}
.m-playbar .icn-vol:hover{
	background-position: -31px -248px;
}
.m-playbar .icn-shuffle{
	background-position: -66px -248px;
}
.m-playbar .icn-shuffle:hover{
	background-position: -93px -248px;
}
.m-playbar .add{
	float: left;
	width: 59px;
	height: 36px;
}
.m-playbar .tip {
    position: absolute;
    top: -51px;
    left: -65px;
    clear: both;
    width: 152px;
    height: 49px;
    background-position: 0 -287px;
    text-align: center;
    color: #fff;
    line-height: 37px;
}
.m-playbar .tip-1 {
    top: -35px;
    left: 12px;
    width: 81px;
    height: 39px;
    line-height: 34px;
    background-position: 0 -457px;
}
.m-playbar .icn-list {
    display: block;
    float: none;
    width: 38px;
    padding-left: 21px;
    background-position: -42px -68px;
    line-height: 27px;
    text-align: center;
    color: #666;
    text-shadow: 0 1px 0 #080707;
    text-indent: 0;
    text-decoration: none;
}
.m-playbar .icn-list:hover{
	background-position: -42px -98px;
}
