body{
    min-width: 982px;
    background: #f5f5f5;
}
.f-cb:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.g-bd2{
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px; 
}
.g-sd2{
    position: relative;
    float: left;
    width: 180px;
}
.n-sgernav{
    margin-top: 51px;
}
.n-wrap4{
    padding: 0 10px 40px;
}
.n-sgernav .tit {
    height: 25px;
    padding-left: 14px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
}
.n-sgernav li, .n-sgernav li a {
    float: left;
    width: 160px;
    height: 29px;
    line-height: 29px;
}
.n-sgernav li{
    margin-bottom: 2px;
}
.n-sgernav li a {
    background: url(../img/singer/singer.png) no-repeat 0 9999px;
}